<footer class="text-center py-4 mt-auto border border-top">
  <p class="mb-0">&copy;2024, A footer placeholder</p>
  <ul class="list-inline">
    <li class="list-inline-item">
      <a href="#" class="text-dark">Privacy Policy</a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="text-dark">Terms of Service</a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="text-dark">Contact Us</a>
    </li>
  </ul>
  <a
    class="text-dark"
    href="http://github.com/foxane/odin-members-only"
    target="_blank"
    rel="noopener noreferrer"
    ><img src="/images/gh.svg" alt="github icon" width="30"
  /></a>
</footer>
