<div class="modal fade" id="joinModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/join" method="post">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Join membership
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-label">Secret code</label>
            <input
              required
              class="form-control"
              type="text"
              name="code"
              placeholder="Insert 'cat' here" />
            <div class="form-text">
              After joining, you will be able to see all poster's name
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
